<% projects.forEach(function(proj) { %>
<% var projAccesses = user.projectAccess; %>
<% var accessLevel = 0; %>
<% var projectAccesses = projAccesses.split(';'); %>

<% projectAccesses.forEach(function(access) { %>
    <% if (access.includes("Devils-Hunt")) { %>
        <% var splAccess = access.split(':'); %>
        <% if (splAccess[1].includes("0")) { %>
        <% accessLevel = 0; %>
        <% } %> 
        <% if (splAccess[1].includes("1")) { %> 
        <% accessLevel = 1; %> 
        <% } %> 
        <% if (splAccess[1].includes("2")) { %>
        <% accessLevel = 2; %>
        <% } %>
        <% if (splAccess[1].includes("3")) { %>
        <% accessLevel = 3; %>
        <% } %>
    <% } %>
<% }); %> 

<% var accountLvl = 0; %>
<% var accountLvl = (user.accountType == 'owner') ? 0 : (user.accountType == 'admin') ? 1 : (user.accountType == 'developer') ? 2 : (user.accountType == 'mod') ? 3 : (user.accountType == 'tester') ? 4 : (user.accountType == 't-sub/yt-member') ? 5 : (user.accountType == 't-follower/yt-sub') ? 6 : (user.accountType == 'five-year-member') ? 7 : (user.accountType == 'one-year-member') ? 8 : (user.accountType == 'normal') ? 9 : 10; %>

<% if (accessLevel >= 1 || accountLvl <= 1 || user.projectAccess == "all:admin") { %> 
<h4 class="small font-weight-bold"><%= proj.name %>
    <% if (!proj.state.includes("NoRelease")) { %>
        <% var projState = proj.state; %> 
        <% var projStateArray = projState.split(':'); %>
        <% if (projStateArray[1] == "open") { %>
            <% if (accessLevel >= 2) { %>
                <a style="margin-left: 1%;" class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="<%= proj.downloadUrl %>">Download</a>
            <% } %>
            <% } else if (accountLvl <= 4 || accessLevel >= 3) { %>
                <a style="margin-left: 1%;" class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="<%= proj.downloadUrl %>">Download</a>
            <% } %>
        <% } %>
    <% if (accountLvl <= 1) { %>
        <a id="<%= proj._id %>" class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/change_project?id=<%= proj._id %>">Change</a>
    <% } %>
    <span class="float-right"><%= proj.progress %>%</span></h4>
<div class="progress mb-4">
    <div class="progress-bar bg-success" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"
        id="progress">
        <span class="sr-only"><%= proj.progress %></span>
    </div>
</div>
<script>
    var breite = "<%= proj.progress %>" + "%";
    var rnd = Math.random();
    document.getElementById("progress").id = rnd;
    document.getElementById(rnd).style.width = breite;
</script>
<% } %>
<% }); %>