<!--
<h1>Register</h1>
<%- include ('./partials/messages') %>
<form action="/users/register" method="POST">
<div>
    <label for="name">Name</label>
    <input
      type="name"
      name="name"
      placeholder="Enter Name"
      value="<%= typeof name != 'undefined' ? name : '' %>"
    />
  
</div>
<div>
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      placeholder="Enter Email"
      value="<%= typeof email != 'undefined' ? email : '' %>"
    />
  </div>
  <div >
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      placeholder="Create Password"
      value="<%= typeof password != 'undefined' ? password : '' %>"
    />
  </div>
  <div >
    <label for="password2">Confirm Password</label>
    <input
      type="password"
      name="password2"
      placeholder="Confirm Password"
      value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
    />
  </div>
  <button type="submit" class="btn btn-primary btn-block">
    Register
  </button>
</form>
<p >Have An Account? <a href="/users/login">Login</a></p>
--------------------------------------------------------------------------------------------------------->

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Register - Brand</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="/fonts/ionicons.min.css">
  <link rel="stylesheet" href="/css/Login-Form-Dark.css">
  <link rel="stylesheet" href="/css/Registration-Form-with-Photo.css">
</head>

<body class="bg-gradient-primary" style="background: rgba(78,115,223,0);">
  <div class="bg-dark register-photo">
    <div class="form-container">
      <div class="image-holder" style="background: url(&quot;/img/image0005%20-%20Kopie.png&quot;) center / auto;">
      </div>
      <form class="text-white bg-dark" method="POST">
        <h2 class="text-center"><strong>Change</strong> a project.</h2>
        <%- include ('./partials/messages') %>
        <% var project; %>
        <% projects.forEach(function(proj) {  %>
          <% if (proj._id == query.id) { %>
            <% project = proj %>
          <% } %>
        <% }) %>
        <script>
          //alert("<%= query.id %>")
        </script>
        <div class="form-group text-dark"><input class="form-control" type="text" name="id" placeholder="Project ID" value="<%= project._id %>"
            required="" readonly=""></div>
        <div class="form-group text-dark"><input class="form-control" type="text" name="name" placeholder="Project Name" value="<%= project.name %>"
            required=""></div>
        <div class="form-group text-dark"><input class="form-control" type="text" name="visibility" placeholder="Visibility (Private or Public)" pattern="(\bPublic\b|\bPrivate\b)"
            required="" value="<%= project.visibility %>"></div>
        <div class="form-group text-dark"><input class="form-control" type="url" name="iconUrl" placeholder="Icon URL"
            pattern="((https:\/\/.+)|(http:\/\/.+))" value="<%= project.iconUrl %>">
        </div>
        <div class="form-group text-dark"><input class="form-control" type="number" name="progress"
            placeholder="Progress" required="" value="<%= project.progress %>"></div>
        <div class="form-group text-dark"><input class="form-control" type="text" name="version" placeholder="Version"
            required="" pattern="^[0-9]+\.[0-9]+(\.[0-9])*([a-zA-Z]){0,1}$" value="<%= project.version %>"></div>
        <div class="form-group text-dark"><input class="form-control" type="text" name="state"
            placeholder="The State (e.g.: Pre-Alpha::open)" required=""
            pattern="^(\bNoRelease\b|\bPre-Alpha\b|\bAlpha\b|\bPre-Beta\b|\bBeta\b|\bPre-Release\b|\bFinalRelease\b):(\bopen\b|\bclosed\b)$" value="<%= project.state %>">
        </div>
        <div class="form-group text-dark"><input class="form-control" type="url" name="downloadUrl"
            placeholder="Download URL" pattern="((https:\/\/.+)|(http:\/\/.+))" value="<%= project.downloadUrl %>"></div>
        <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox"
              id="itogBtn">I agree to the license terms.</label></div>
        <div class="form-group"><button class="btn btn-primary btn-block" id="isub" type="submit" disabled="">Change
            Project</button>
        </div><a class="text-white already" href="/dashboard">Click here to cancel</a>
    </div>
    </form>
  </div>
  </div>
  <script src="/js/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/js/chart.min.js"></script>
  <script src="/js/bs-init.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
  <script src="/js/theme.js"></script>
  <script src="/js/toggle_tos_pp.js"></script>
</body>

</html>